CrossChat/
updatenotes.md
Bungee/.settings/org.eclipse.jdt.apt.core.prefs
Bungee/.settings/org.eclipse.jdt.core.prefs
Bungee/.settings/org.eclipse.m2e.core.prefs
Spigot/.settings/org.eclipse.jdt.apt.core.prefs
Spigot/.settings/org.eclipse.jdt.core.prefs
Spigot/.settings/org.eclipse.m2e.core.prefs
